body {
    animation: fadeIn 2s ease-in;
}

.hero {
    background-color: #06BA63;
}


#add-button {
    background-color: #06BA63;
}

#signOutBtn {
    /* background-color: rgb(145, 1, 1); */
    color: whitesmoke;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}